@model List<MVC_Practical_13_Test2.ViewModel.EmpCountByDesg>
@{
    ViewBag.Title = "Linq2";
}

<table class="table table-borderless table-hover rounded-3" style="border-radius:10px !important;">
    <tr class="text-center table-dark">

        <th>
            @Html.DisplayNameFor(model => model[0].Degination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].EmpCount)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">

            <td>
                @Html.DisplayFor(modelItem => item.Degination)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.EmpCount)
            </td>

        </tr>
    }

</table>
<div class="stats">
    @Html.ActionLink("Back to List", "Index", String.Empty, new { @class = "btn btn-danger" })
</div>

