@model IEnumerable<MVC_Practical_13.Models.User>

@{
    ViewBag.Title = "Index";
}


<p class="my-4">
    @Html.ActionLink("Create New", "Create", string.Empty, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-borderless table-hover rounded-3" style="border-radius:10px !important;">
    <tr class="text-center table-dark">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                <button type="button" data-id="@item.Id" class="btn btn-danger Delete-Item">Delete</button>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on("click",".Delete-Item",function () {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't delete this record?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {

                    if (result.isConfirmed) {

                        $.ajax({
                            url: "@Url.Content("~/Home/Delete")",
                            method: "POST",
                            data: { id: $(this).data("id") },
                            success: function (data) {
                                if (data) {
                                    Swal.fire(
                                        'Deleted!',
                                        'Your record has been deleted.',
                                        'success'
                                    )
                                    location.reload();
                                }
                            },
                            error: function (err) {
                                Swal.fire(
                                    'Opps!',
                                    'Something went wrong!',
                                    'error'
                                )
                            }

                        })
                        
                    }
                })
            })
        })

    </script>
}
